<!-- <h1>{{.PageTitle}}</h1>
<ul>
    {{range .Todos}}
        {{if .Done}}
            <li class="done">{{.Title}}</li>
        {{else}}
            <li>{{.Title}}</li>
        {{end}}
    {{end}}
</ul> -->


<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>Pick a topic</h1>
        <ul>
            <li>
                <button>Topic 1</button>
            </li>
            <li>
                <button>Topic 2</button>
            </li>
            <li>
                <button>Topic 3</button>
            </li>
        </ul>
    </body>
</html>