{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title> Let's Chat</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Let's Chat</h1>   
{{ end }}