{{ define "Index" }}
  {{ template "Header" }}
    <h2> Pick a Topic</h2>
    <table border="1">
      <thead>
      <tr>
        <td>Topic One</td>
        <td>Topic two</td>
        <td>topic three</td>
      </tr>
       </thead>
    </table>
{{ end }}