{{ define "Index" }}
  {{ template "Header" }}
    <h2> Pick a Topic</h2>
      <ul>
        <li><a href="/topicone">Topic One</a></li>
        <li><a href="/topictwo">Topic Two</a></li>
        <li><a href="/topicthree">Topic Three</a></li>
      </ul>
    <h3><a href="/createaccount">Create Account</a> |<a href="/login">Login</a></h3>
{{ end }}
